/*desaturated blue*/
/*shade of blue	*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700");
.grid__row:after {
  content: "";
  display: table;
  clear: both;
}

.centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.headline--primary {
  color: #58e1c1;
  font-weight: 700;
  padding-left: 10px;
}
.headline--secondary {
  color: #818181;
  font-weight: 300;
}

.card {
  color: #818181;
}

.link {
  font-weight: bold;
  color: #57defc;
  text-decoration: none;
}

.blockquote {
  border-left: 4px solid #58e1c1;
  padding-left: 10px;
}

.container {
  padding: 10px;
}
@media (min-width: 768px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

.grid__row {
  width: 90%;
}
@media (min-width: 768px) {
  .grid__row {
    margin: 10px;
  }
}
.grid__row:first-child {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__row:first-child {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.grid__row:first-child .grid__col--3 {
  align-self: center;
}
@media (min-width: 768px) {
  .grid__row:first-child .grid__col--3 {
    align-self: start;
  }
}

.grid__col--1 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--1 {
    flex-direction: row;
  }
}

.grid__col--2 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--2 {
    flex-direction: row;
  }
}

.grid__col--3 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--3 {
    flex-direction: row;
  }
}

.grid__col--4 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--4 {
    flex-direction: row;
  }
}

.grid__col--5 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--5 {
    flex-direction: row;
  }
}

.grid__col--6 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--6 {
    flex-direction: row;
  }
}

.grid__col--7 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--7 {
    flex-direction: row;
  }
}

.grid__col--8 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--8 {
    flex-direction: row;
  }
}

.grid__col--9 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--9 {
    flex-direction: row;
  }
}

.grid__col--10 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--10 {
    flex-direction: row;
  }
}

.grid__col--11 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--11 {
    flex-direction: row;
  }
}

.grid__col--12 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__col--12 {
    flex-direction: row;
  }
}

.grid--default {
  background-color: #57defc;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.grid--success {
  background-color: #63cc82;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.grid--error {
  background-color: #E4757A;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.grid--warning {
  background-color: #fd7856;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.grid--info {
  background-color: #927BC1;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.grid__col--12.theme__colors {
  background-color: #80e8d1;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--6.theme__colors {
  background-color: #3fabca;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--4.theme__colors {
  background-color: #57defc;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--3.theme__colors {
  background-color: #deb2ee;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--5.theme__colors {
  background-color: #63cc82;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--7.theme__colors {
  background-color: #ec9fa3;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--8.theme__colors {
  background-color: #fd9f85;
  padding: 10px;
  border-radius: 5px;
}

@media (min-width: 769px) {
  .grid__col--1 {
    max-width: 6.5%;
    width: 6.5%;
  }

  .grid__col--2 {
    max-width: 15%;
    width: 15%;
  }

  .grid__col--3 {
    max-width: 23.5%;
    width: 23.5%;
  }

  .grid__col--4 {
    max-width: 32%;
    width: 32%;
  }

  .grid__col--5 {
    max-width: 40.5%;
    width: 40.5%;
  }

  .grid__col--6 {
    max-width: 49%;
    width: 49%;
  }

  .grid__col--7 {
    max-width: 57.5%;
    width: 57.5%;
  }

  .grid__col--8 {
    max-width: 66%;
    width: 66%;
  }

  .grid__col--9 {
    max-width: 74.5%;
    width: 74.5%;
  }

  .grid__col--10 {
    max-width: 83%;
    width: 83%;
  }

  .grid__col--11 {
    max-width: 91.5%;
    width: 91.5%;
  }

  .grid__col--12 {
    max-width: 100%;
    width: 100%;
  }
}
@media (min-width: 1px) and (max-width: 768px) {
  [class^=grid__col--] {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
}
@media (min-width: 769px) {
  [class^=grid__col--] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  [class^=grid__col--] + [class^=grid__col--] {
    margin-left: 2%;
  }
  [class^=grid__col--]:last-of-type {
    float: right;
  }
}

/*not sure  down below if the code is correct 
  Also notice the position would not change due to  the media query above this code for the last child of type
*/
nav {
  align-self: right;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
  }
}
.nav__item {
  text-align: center;
  margin: 10px 0;
}
.nav__item a {
  text-decoration: none;
  display: block;
  padding: 10px;
}
.nav__item a:hover {
  background-color: #58e1c1;
  color: #fff;
  border-radius: 5px;
}

.img--avatar {
  align-self: center;
}
.img--frame {
  text-align: center;
  border: solid 1px #cdcdcd;
  padding: 10px;
}
.img--avatar {
  align-self: center;
}

.btn--default {
  background-color: #57defc;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.btn--success {
  background-color: #63cc82;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.btn--error {
  background-color: #E4757A;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.btn--warning {
  background-color: #fd7856;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.btn--info {
  background-color: #927BC1;
  border: 0px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.btn__col--12.theme__colors {
  background-color: #80e8d1;
  padding: 10px;
  border-radius: 5px;
}
.btn__col--6.theme__colors {
  background-color: #3fabca;
  padding: 10px;
  border-radius: 5px;
}
.btn__col--4.theme__colors {
  background-color: #57defc;
  padding: 10px;
  border-radius: 5px;
}
.btn__col--3.theme__colors {
  background-color: #deb2ee;
  padding: 10px;
  border-radius: 5px;
}
.btn__col--5.theme__colors {
  background-color: #63cc82;
  padding: 10px;
  border-radius: 5px;
}
.btn__col--7.theme__colors {
  background-color: #ec9fa3;
  padding: 10px;
  border-radius: 5px;
}
.btn__col--8.theme__colors {
  background-color: #fd9f85;
  padding: 10px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__label--hidden {
  display: none;
}
.form__input {
  padding: 10px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 4px solid #58e1c1;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 700;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
