
%clearfix:after {
	content: "";
	display: table;
	clear: both;

}

%centered  {
		float:none;
		margin-right:auto;
		margin-left:auto;

}

%container {
	max-width: 480px;
	width: 100%;
	margin: 0 auto;
	padding:10px;

	@include mq (large) {
		max-width: 1400px;

	}
}



%form__button {
	color: $white;
	border:none;
	text-transform: uppercase;
	font-weight: $font-weight--bold;
	border-radius: $br;
	padding:10px;
	width: 100%;
	margin: 10px 0;
}

%gridCol {
	text-align: center;
	margin: 10px 0;
	border-radius: $br;
}


// Screen reader 
%srt {

	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}



//Images

%image_center {
	margin:20px 0;
	align-self: center;

}


//Links



//Headines

%hdln-prim {
	color: $turquoise;
	padding-left:15px;
	font-weight: $font-weight--bold;
}

%hdln-sec {
	font-size: 16px;
	font-weight: $font-weight--light;
	color: $stormCloud;
}




//Navigation