//Media Queries


//Flexbox Settings

//Adjacent sibling margins

@mixin doubly($margin: 1em) {
	& + & {
		margin-left: $margin;
		@content;
	}
	
}

@mixin bg-colors($map) {
	@each $theme, $color in $ui-colors {

		&--#{$theme} {
			background-color: $color; 
			border:0px;
			display: block;
			width:100%;
			padding: 10px;
			margin: 10px 0;
			color: $white;
			text-transform: uppercase;
			font-weight: $font-weight--bold;
			border-radius: 10px;
		
		}

	}

	@each $theme, $color in $grid-colors {

		&__#{$theme} {
			background-color: $color;
			padding:10px;
			border-radius: 5px;
		}

	}
}


