//BEM Elements

@mixin e($element) {
	&__#{$element}{
		@content;
	}
}

@mixin m($element) {
	&--#{$modifier}{
		@content;
	}
}

//Flexbox mixin

@mixin flexBox($disp, $flexDir, $flexWrap){
		display: $disp;
		flex-direction: $flexDir;
		flex-wrap: $flexWrap;

}