//Links




//Images


//Headlines


//Nav Items


.nav  {
	list-style-type:none;
	

	&__item {
		padding: 20px;
		text-align:center;

		&:link {
			text-decoration: none;
		}

		&:hover {
			background-color: $turquoise;
			color: $white;
		}

		&:active{
			color: $white;
		}

	}
}