
//Headlines
//===============================================


.headline {
	&--primary {
		color: $turquoise;
		font-weight: $font-weight--bold;
		padding-left:10px;
	}

	&--secondary {
		color: $stormCloud;
		font-weight: $font-weight--light;	

	}
}

.form {
	.headline--secondary {
		margin:1.33em;
	}
}


//Cards
//===============================================
.card {
		color: $stormCloud;
		font-size: 16px;
		line-height: line-height(24px, 16px);
		
}




//Links
//===============================================

.link {
	font-weight:bold;
	color: $malibuBlue;
	text-decoration:none;
}






//Blockquote
//===============================================

.blockquote {
	border-left: 4px solid $turquoise;
	padding-left:10px;
}




.img {
	&--avatar {
	margin: 0 auto;
	}
}