//=========================================================
// Grid Container
//=========================================================

.container {
	padding:10px;

}

.grid_row {
	margin: 0 auto;
	width: 95%;
}