.btn {
	@include ui-colors($ui-colors){
		@extend %btn;
		margin:10 0px;	
	} 

}



[class^="btn--"] {
  
	[class^="grid_col--"] & {

			@include mq(medium) {
		   		width: 100%;		     	
		     	display: inline-block;
		   		@include doubly(20px);
		    	
		   ;
		    	

		}


		   
	 	
	}

}