.btn {

	@include ui-colors($ui-colors){
		@extend %btn;

	} 

}


[class^="btn--"] {
  
	[class^="grid__col--"] > & {

			margin-top: 10px;
			@include mq(medium) {
				
				@include doubly(20px);
		   		width: auto;		     	
		     	margin: 0 10px;   		
		}
 	
	}

}
