//========================================
// Grid
//========================================

.container {
	@extend %container;
}

.grid__col {
	@include mq (medium);
		@include g-columns {
			border: 1px solid red;
		}
}

.grid {
	@include e(row) {
		padding-top: 30px;
		padding-bottom:20px;
		@extend %grid__row-disp;
		

	}

	@include e(col){

		@extend %grid__col-disp; /*puts everything in column */
		@include mq(medium){
			@include doubly(percentage($g-gutter-width / $context));    
			    float: left;
			    min-height: 1px;
			    padding-left: 10px;
			    padding-right: 10px;
			    &:last-of-type {
			      float: right;
			} 
		}

		@include ui-colors($grid-colors) {		
			@extend %gridCol;
		}		
	
	}
				
		

}// end of .grid

