//Images
//====================================================


.img {	


	@include m(logo){
		[class^="grid__col--"]  & {
			@extend %img__logo-disp;	

		} 
	}
	
	@include m(frame){
			max-width:410px;
			width:100%;
			border: solid 1px $cloudy;
			padding:10px;
			margin:20px 0;
			align-self:center;
			
	}
	
	@include m(avatar) {
		max-width: 199px;
		width:100%;

		.form  & {
			text-align: center;
			/*hello*/
		}



		

	}
}



	.grid__col--6  .img--avatar {

		align-self:center;

	}
