//Images
//====================================================


.img {	


	/*@include m(logo){
		[class^="grid__col--"]  & {
			@extend %img__logo-disp;	

		} 
	}*/
	
	@include m(frame){
			
			width:100%;
			border: solid 1px $cloudy;
			padding:10px;
			margin:20px 0;
			
	}
	
	@include m(avatar) {
		height: 199px;
		width: 100%;
		max-width: 199px;
		display: block;
	

		.form  >  & {
			@extend %centered;
		}


		[class^="grid__col--"]  & {
			@extend %centered;
		}

	}
}



