//Images
//====================================================


.img {	


	@include m(logo){
		@extend %image_center;

	}
	
	@include m(frame){
			max-width:410px;
			border: solid 1px $cloudy;
			padding:10px;
			margin:20px 0;
			
		
		[class*="grid__col--"]  & {

			align-self: center;

		} 
			
	}
	
	@include m(avatar) {
			max-width: 199px;
			@extend %image_center;
	}


}