.link {
	[class *="__col--"] > & {
		align-self: center;
	}
}


.nav {

	@include flexBox(flex, column, wrap);

	@include mq(medium){
			@include flexBox(flex, row, wrap);
	}

	@include e(item){
		
				
		margin:10px 0;
				
		a {
			display:block;
			padding: 10px 0;
			text-decoration: none;
			text-align: center;
			color: $stormCloud;

			@include mq(medium) {
				margin: 0 10px;
				padding: 10px 10px;

			}

			&:link {
				color:$stormCloud;
			}

			
			&:visited{
				color:$stormCloud; 		
			}

			&:hover{
				background-color: $turquoise;
				color: $white;
				border-radius: $br;
			} 
		}

	}

}
