//=================================
//Navigation
//=================================
nav {
	align-self: right;
}

.nav {

	@media (min-width: $tablet)
	{
		display: flex;
		flex-wrap: wrap;

	}

	&__item{

		text-align: center;
		margin: 10px 0;

		a {
			text-decoration: none;
			display: block;
			padding:10px;

			&:link {
				color:$stormCloud;
			}

			&:active{
				color:$stormCloud;
			}

			&:visited{
				color:$stormCloud;
			}

			&:hover {
				background-color: $turquoise;
				color:$white;
				border-radius: $br;

			}


		}
	}

}
