//=========================================================
// Base Styles
//=========================================================

* {
	font-family: $font-family--primary;
	box-sizing:  border-box;
}		


p{
	@include text(16px, $font-weight--light);

	.container  &  {
		color: $stormCloud;
	}
}


ul {

	list-style-type: none;
	padding:0;

}

